.body
  = render partial:"shared/index_header"
  .nav
    %ul.nav__itemscope
      %li.nav__itemscope__itemtype
        = link_to root_path,class: "navgation" do
          FURIMA
        .nav__itemscope__itemtype__right
          　>　
      %li.nav__itemscope__itemtype2
        出品した商品-売却済み
  .main
    = render partial:"shared/user_left_nav"
    .main__right
      .main__right__title 
        出品した商品
      .main__right__tabTodo
        .tabTodo
          = link_to "出品中", onsale_user_path(current_user.id), class: 'done-onsale'
          = link_to "売却済み", "", class: 'done-sold'

        .tabContent
          .tabContent__info
            - @items.each do |item|
              - item.images.first(1).each do |image|  
                - if user_signed_in? && current_user.id && item.item_purchaser_id.present? && current_user.id == item.user_id 
                  = link_to item_path(item.id) do
                    .tabContent__lists
                      .tabContent__lists__img
                        = image_tag "#{image.image}", alt: "テスト", size: "100x70"
                        .items-box_photo__sold
                          .items-box_photo__sold__inner
                            SOLD
                      .tabContent__lists__product-name
                        = item.item_name
                        .sold-sign
                          売却済
                        .like-counts
                          - if item.likes_count.blank?
                            = 0
                          -else
                            = item.likes_count 

  = render partial:"shared/index_footer"
  