.body
  = render partial:"shared/index_header"
  .nav
    %ul.nav__itemscope
      %li.nav__itemscope__itemtype
        = link_to root_path,class: "navgation" do
          FURIMA
        .nav__itemscope__itemtype__right
          　>　
      %li.nav__itemscope__itemtype2
        お気に入り商品一覧
  .main
    = render partial:"shared/user_left_nav"
    .main__right
      .main__right__bought-title 
        お気に入り商品一覧
      .main__right__tabTodo
        .tabContent
          .tabContent__info
            - current_user.like_items.each do |item|
              = link_to item_path(item.id) do
                .tabContent__lists
                  .tabContent__lists__img
                    = image_tag asset_path(item.images[0].image), :size =>'100x70'
                  .tabContent__lists__product-name
                    = item.item_name           
                    .like-sign
                      お気に入り済
                    .like-counts
                      - if item.likes_count.blank?
                        = 0
                      -else
                        = item.likes_count                        

  = render partial:"shared/index_footer"
  