.body
  = render partial:"shared/index_header"
  .nav
    %ul.nav__itemscope
      %li.nav__itemscope__itemtype
        = link_to root_path,class: "navgation" do
          FURIMA
        .nav__itemscope__itemtype__right
          　>　
      %li.nav__itemscope__itemtype2
        発送元・お届け先住所変更
  .main
    = render partial:"shared/user_left_nav"
    .main__right
      .main__right__top
        発送元・お届け先住所変更
      .main__right__form
        = form_with(model: @location, url: location_update_user_path, method: :post, local:true) do |f|
          = render "devise/shared/error_messages", resource: @location
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                苗字
              %span.form-group-edit2__label__require 必須
            = f.text_field :family_name, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                名前
              %span.form-group-edit2__label__require 必須
            = f.text_field :first_name, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                苗字 (カナ)
              %span.form-group-edit2__label__require 必須
            = f.text_field :family_name_kana, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                名前（カナ）
              %span.form-group-edit2__label__require 必須
            = f.text_field :first_name_kana, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                郵便番号
              %span.form-group-edit2__label__require 必須
            = f.text_field :postal_code, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                都道府県
              %span.form-group-edit2__label__require 必須
            = f.text_field :prefecture, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                市町村
              %span.form-group-edit2__label__require 必須
            = f.text_field :city, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                建物名
            = f.text_field :building_name, {class:'form-group-edit2__input'}
          .form-group-edit2
            .form-group-edit2__label
              .form-group-edit2__label__moji
                電話番号
              %span.form-group-edit2__label__require 必須
            = f.text_field :phone_name, {class:'form-group-edit2__input'}
          .form_submit
            = f.submit '変更する', class: "edit-btn-default-btn"

= render partial: "shared/index_footer"