.body
  .header
    .header__box
      .header__box__main
        =link_to root_path do
          = image_tag "/material/logo/logo.png", class: 'logo'
        = form_with url: "#", class: "search__box" do |f|
          = f.text_field :content, class: 'search__box__form', placeholder: ' キーワードから探す'
        =link_to "#" do
          = image_tag "/material/icon/icon-search 1.png", class: 'search__box__btn'
      .header__box__sub
        %ul.lists__left
          %li
            = link_to "#",class: "category" do
              カテゴリー
          %li
            = link_to "#",class: "brand" do
              ブランド
        %ul.lists__right
          %li
            = link_to "#",class: "like__list" do
              いいね！一覧
          %li
            = link_to "#",class: "info__list" do
              お知らせ
          %li
            = link_to "#",class: "todo__list" do
              やることリスト
          %li
            = link_to "#",class: "mypage" do
              マイページ
  .nav
    %ul.nav__itemscope
      %li.nav__itemscope__itemtype
        = link_to "#",class: "navgation" do
          FURIMA
        .nav__itemscope__itemtype__right
          　>　
      %li.nav__itemscope__itemtype2
        マイページ
  .main
    .main__left
      .main__left__nav
        .nav__lists
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              マイページ
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              お知らせ
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              やることリスト
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              いいね！一覧
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              出品する
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              出品した商品-出品中
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              出品した商品-取引中
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              出品した商品-売却済み
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              購入した商品-取引中
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              購入した商品-過去の取引
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              ニュース一覧
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              評価一覧
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              ガイド
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              お問い合わせ
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              売上・振込申請
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              ポイント
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              プロフィール
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              発送元・お届け先住所変更
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              支払い方法
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              メール/パスワード
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              本人情報
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              電話番号の確認
          %li.nav__lists__list
            =link_to "#",class: "moji" do
              ログアウト
    .main__right
      .main__right__title 
        出品した商品
      .main__right__tabTodo
        .tabTodo
          = link_to "出品中", "", class: 'onsale'

          = link_to "取引中", "", class: 'dealing'

          = link_to "売却済み", "", class: 'sold'

        .tabContent
          .tabContent__info
            - @items.each do |item|
              - item.images.first(1).each do |image|      
                - if item.item_purchaser_id.blank?
                  = link_to item_path(item.id) do
                    .tabContent__lists
                      .tabContent__lists__img
                        = image_tag "#{image.image}", alt: "テスト", size: "150x70"
                      .tabContent__lists__product-name
                        = item.item_name
                        .onsale-sign
                          出品中

  .appbanner
    .appbanner__inner
      %h1.inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text
        今すぐ無料ダウンロード！
      .inner__btn
        = link_to "#" do
          = image_tag "/material/badge/Download_on_the_App_Store_Badge.svg", class: "abtn"
        = link_to "#" do
          = image_tag "/material/badge/google-play-badge.png", class: "gbtn"
  .footer
    %ul.footer__contents
      %li.content
        %h1.title
          FURIMAについて
        %ul.lists
          %li.list
            = link_to "#", class: "list" do
              会社概要（運営会社）
          %li.list
            = link_to "#", class: "list" do
              プライバシーポリシー
          %li.list
            = link_to "#", class: "list" do
              FURIMA利用規約
          %li.list
            = link_to "#", class: "list" do
              ポイントに関する特約
      %li.content
        %h1.title
          FURIMAを見る
        %ul.lists
          %li.list
            = link_to "#", class: "list" do
              カテゴリー一覧
          %li.list
            = link_to "#", class: "list" do
              ブランド一覧
      %li.content
        %h1.title
          ヘルプ＆ガイド
        %ul.lists
          %li.list
            = link_to "#", class: "list" do
              FURIMAガイド
          %li.list
            = link_to "#", class: "list" do
              FURIMAロゴ利用ガイドライン
          %li.list
            = link_to "#", class: "list" do
              お知らせ
    .footer__logo
      =link_to "#" do
        = image_tag "/material/logo/logo-white.png", width: "160px", height: "46px"
    %p.logo__under
      ©︎　FURIMA

  = link_to new_item_path do
    .exhibit
      .text
        出品する
      = image_tag  "/material/icon/icon_camera.png", class: "exhibit__icon"