.body
  = render partial:"shared/index_header"
  .nav
    %ul.nav__itemscope
      %li.nav__itemscope__itemtype
        = link_to root_path,class: "navgation" do
          FURIMA
        .nav__itemscope__itemtype__right
          　>　
      %li.nav__itemscope__itemtype2
        マイページ
  .main
    .main__left
      .main__left__nav
        .nav__lists
          %li.nav__lists__list
            =link_to user_path(current_user.id), class: "moji" do
              マイページ
          %li.nav__lists__list
            =link_to onsale_user_path,class: "moji" do
              出品した商品-出品中
          %li.nav__lists__list
            =link_to done_user_path(current_user.id),class: "moji" do
              出品した商品-売却済み
          %li.nav__lists__list
            =link_to bought_user_path(current_user.id),class: "moji" do
              購入商品一覧
          %li.nav__lists__list
            =link_to like_user_path(current_user.id),class: "moji" do
              お気に入り商品一覧
          %li.nav__lists__list
            =link_to location_edit_user_path,class: "moji" do
              発送元・お届け先住所変更
          %li.nav__lists__list
            =link_to pay_creditcards_path,class: "moji" do
              支払い方法
          %li.nav__lists__list
            =link_to profile_edit_user_path,class: "moji" do
              本人情報の変更
          %li.nav__lists__list
            = link_to destroy_user_session_path,method: :delete, class: 'moji' do
              ログアウト
    .main__right
      .main__right__head
        プロフィール
      .main__right__userIcon
        .button
          .button__top
          .button__name
            = current_user.nickname
          .button__number
            .button__number__box

      
      .main__right__profile
        .main__right__profile__box
          .main__right__profile__box__list1
            .main__right__profile__box__list1__label
              苗字
            .main__right__profile__box__list1__content
              = @user.user_family_name
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              名前
            .main__right__profile__box__list__content
              = @user.user_first_name
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              苗字（かな）
            .main__right__profile__box__list__content
              = @user.user_family_name_kana
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              名前（かな）
            .main__right__profile__box__list__content
              = @user.user_first_name_kana
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              誕生日
            .main__right__profile__box__list__content
              = @user.birth
  = render partial: "shared/index_footer"
