.body
  = render partial:"shared/index_header"
  .nav
    %ul.nav__itemscope
      %li.nav__itemscope__itemtype
        = link_to root_path,class: "navgation" do
          FURIMA
        .nav__itemscope__itemtype__right
          　>　
      %li.nav__itemscope__itemtype2
        マイページ
  .main
    = render partial:"shared/user_left_nav"
    .main__right
      .main__right__head
        プロフィール
      .main__right__userIcon
        .button
          .button__top
          .button__name
            = current_user.nickname
          .button__number
            .button__number__box

      
      .main__right__profile
        .main__right__profile__box
          .main__right__profile__box__list1
            .main__right__profile__box__list1__label
              苗字
            .main__right__profile__box__list1__content
              = @user.user_family_name
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              名前
            .main__right__profile__box__list__content
              = @user.user_first_name
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              苗字（かな）
            .main__right__profile__box__list__content
              = @user.user_family_name_kana
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              名前（かな）
            .main__right__profile__box__list__content
              = @user.user_first_name_kana
          .main__right__profile__box__list
            .main__right__profile__box__list__label
              誕生日
            .main__right__profile__box__list__content
              = @user.birth
  = render partial: "shared/index_footer"
