.appbanner
  .appbanner__inner
    %h1.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード！
    .inner__btn
      = link_to "https://www.apple.com/jp/ios/app-store" do
        = image_tag "/material/badge/Download_on_the_App_Store_Badge.svg", class: "abtn"
      = link_to "https://play.google.com/store?hl=ja" do
        = image_tag "/material/badge/google-play-badge.png", class: "gbtn"

.footer
  %ul.footer__contents
    %li.content
      %h1.title
        FURIMAについて
      %ul.lists
        %li.list
          = link_to "#", class: "list" do
            会社概要（運営会社）
        %li.list
          = link_to "#", class: "list" do
            プライバシーポリシー
        %li.list
          = link_to "#", class: "list" do
            FURIMA利用規約
        %li.list
          = link_to "#", class: "list" do
            ポイントに関する特約
    %li.content
      %h1.title
        FURIMAを見る
      %ul.lists
        %li.list
          = link_to "#", class: "list" do
            カテゴリー一覧
        %li.list
          = link_to "#", class: "list" do
            ブランド一覧
    %li.content
      %h1.title
        ヘルプ＆ガイド
      %ul.lists
        %li.list
          = link_to "#", class: "list" do
            FURIMAガイド
        %li.list
          = link_to "#", class: "list" do
            FURIMAロゴ利用ガイドライン
        %li.list
          = link_to "#", class: "list" do
            お知らせ
  = link_to root_path do
    = image_tag "/material/logo/logo-white.png", size: "160x46", class: "footer__logo"

  %p
    © FURIMA
  
  = link_to new_item_path do
    .exhibit
      .text
        出品する
      = image_tag "/material/icon/icon_camera.png", class: "exhibit__icon"