= render partial: "shared/index_header"

.search__main
  .left__search__box

    -# ソート（昇順、降順）
    .sort_lists
      %tr.sorts
        %th.sort
          = sort_link(@q, :item_name, "商品名")
        %th.sort
          = sort_link(@q, :price, "価格")
        %th.sort
          = sort_link(@q, :condition, "商品の状態")
        %th.sort
          = sort_link(@q, :shipping_fee_payer, "配送料の負担")
        %th{:colspan => "3"}


    = search_form_for @q, url: items_searches_path do |f|
      -# キーワード検索
      = f.label :item_name, 'キーワードを追加',class: "keyword__label"
      = f.search_field :item_name_cont,class: "keyword"

      -# 価格の絞り込み
      = f.label :price, '価格',class: "price__label"
      = f.number_field :price_gteq,class: "price__one"
      〜
      = f.number_field :price_lt,class: "price__two"
      円

      -# 商品状態の絞り込み
      = f.label :condition, '状態',class: "condition__label"
      = f.radio_button :condition_eq, '', {:checked => true}
      指定なし
      = f.radio_button :condition_eq, '新品、未使用',class: "condition"
      新品、未使用
      = f.radio_button :condition_eq, '未使用に近い',class: "condition"
      未使用に近い
      = f.radio_button :condition_eq, '目立った傷や汚れなし',class: "condition"
      目立った傷や汚れなし
      = f.radio_button :condition_eq, 'やや傷や汚れあり',class: "condition"
      やや傷や汚れあり
      = f.radio_button :condition_eq, '傷や汚れあり',class: "condition"
      傷や汚れあり
      = f.radio_button :condition_eq, '全体的に状態が悪い',class: "condition"
      全体的に状態が悪い

      -# 配送料の絞り込み
      = f.label :shipping_fee_payer, '配送料の負担',class: "shipping_fee_payer__label"
      = f.radio_button :shipping_fee_payer_eq, '', {:checked => true}
      指定なし
      = f.radio_button :shipping_fee_payer_eq, '送料込み（出品者負担）',class: "shipping_fee_payer"
      送料込み（出品者負担）
      = f.radio_button :shipping_fee_payer_eq, '着払い（購入者負担）',class: "shipping_fee_payer"
      着払い（購入者負担）


      = f.submit "検索", class: "ransack_submit"

  - if @items_ransack.length > @items.length
    .right__search__box
      .search__content
        - @items.each do |item|
          - item.images.first(1).each do |image|
            .search__content__list
              - if item.item_purchaser_id.blank?
                = link_to item_path(item.id) do
                  .search__content__list__img
                    = image_tag "#{image.image}", alt: "テスト", size: "200x150"
                  
                  .search__content__list__text
                    .item__name
                      = item.item_name
                    .item__details
                      %ul
                        %li
                          .category-yen
                            = item.price
                            
                        %li
                          = item.like
                      %p
                        (税込)

  - else
    .right__search__box
      .search__content
        - @items_ransack.each do |item|
          - item.images.first(1).each do |image|
            .search__content__list
              - if item.item_purchaser_id.blank?
                = link_to item_path(item.id) do
                  .search__content__list__img
                    = image_tag "#{image.image}", alt: "テスト", size: "200x150"
                  .search__content__list__text
                    .item__name
                      = item.item_name
                    .item__details
                      %ul
                        %li
                          .item__yen
                            = item.price
                        %li.like_counts
                          - if item.likes_count.blank?
                            = 0
                          -else
                            = item.likes_count
                      %p
                        (税込)

    = paginate(@page)


= render partial: "shared/index_footer"