.body-confirm
  .items-confirm-header
    =link_to root_path do
      = image_tag "/logo.png", size: "185x49"
  .main-confirm-contents
    = form_with url:"#" do |f|
      .main-confirm-content
        .main-confirm-content__header
          %h2 購入内容の確認
        .main-confirm-content__buy-item
          = image_tag "#{@item.images.first.image}", alt: "テスト", size: "100x100"
          .main-confirm-content__buy-item__group
            .main-confirm-content__buy-item__group__item-name
              %h3 
              = @item.item_name
            .main-confirm-content__buy-item__group__item-price
              %h3
                ¥
                = @item.price
            .main-confirm-content__buy-item__group__shipping-fee-payer
              %h3 （税込）送料込み
        .main-confirm-content__payment
          .main-confirm-content__payment__group
            .main-confirm-content__payment__group__price-point
              .main-confirm-content__payment__group__price-point__price
                %h2 支払い金額
                %h2
                  ¥
                  = @item.price
            .main-confirm-content__payment__group__way
              %h2 支払い方法
              = link_to user_path(current_user.id) do
                %h3 マイページより登録してください
            .main-confirm-content__payment__group__location
              %h2 配送先
              %h3
                〒
                = @location.postal_code
                %br/
                = @location.prefecture
                = @location.city
                = @location.building_name
                %br/
                = current_user.nickname
            .main-confirm-content__payment__group__submit
              = link_to "購入する", purchase_path(@item.id), method: :get, class: "confirm-submit"
              = link_to "もどる", :back, class: "return-btn"
          
  = render partial:"shared/items_new_footer"
