
= render partial: "shared/index_header"


.main
  .main__visual
    .main__visual__picture
    .content
      .content__subtitle
        人生を変えるフリマアプリ
      .content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        = link_to "https://www.apple.com/jp/ios/app-store" do
          = image_tag "/material/badge/Download_on_the_App_Store_Badge.svg", class: "abtn"
        = link_to "https://play.google.com/store?hl=ja" do
          = image_tag "/material/badge/google-play-badge.png", class: "gbtn"


  .top__introduction
    .subtitle
      FURIMAが選ばれる3つの理由
      .subtitle__after
    %ul.lists
      %li.list
        .list__pictuer
          = image_tag "/material/pict/pict-reason-01.jpg", size: "300x300"
          .nummber
            1
        %h1.list__title
          %span
            3分 
          ですぐに出品
        %p.list__text
          スマホで入力するだけで簡単に出品できる！

      %li.list
        .list__pictuer
          = image_tag "/material/pict/pict-reason-02.jpg", size: "300x300"
          .nummber
            2
        %h1.list__title
          %span
            シンプル
          で使いやすい
        %p.list__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.list
        .list__pictuer
          = image_tag "/material/pict/pict-reason-03.jpg", size: "300x300"
          .nummber
            3
        %h1.list__title
          手数料
          %span
            業界最安
        %p.list__text
          最大3%でお得に出品&購入！


  .top__middle__dl
    .top__middle__dl__picture
    .top__middle__dl__content
      .content__subtitle
        会員数日本一位
      .content__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .content__btn
        = link_to "https://www.apple.com/jp/ios/app-store" do
          = image_tag "/material/badge/Download_on_the_App_Store_Badge.svg", class: "abtn"
        = link_to "https://play.google.com/store?hl=ja" do
          = image_tag "/material/badge/google-play-badge.png", class: "gbtn"

  .top__key__features
    .head
      FURIMAの特徴
      .head__after
    .items
      .item
        = image_tag "/material/icon/icon-01.png", size: "216x332", class: "item__img"
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item
        = image_tag "/material/icon/icon-03.png", size: "216x332", class: "item__img"
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        = image_tag "/material/icon/icon-04.png", size: "216x332", class: "item__img"
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickup__container
    .pickup__container__category
      .head
        ピックアップカテゴリー
      .product
        .product__title
          新規投稿商品
        .product__lists

          - @items.first(8).each do |item|
            - item.images.first(1).each do |image|
              .product__list
                - if item.item_purchaser_id.blank?
                  = link_to item_path(item.id) do
                    .product__list__img
                      = image_tag "#{image.image}", alt: "テスト", size: "220x150"
                    
                    .product__list__text
                      .item__name
                        = item.item_name
                      .item__details
                        %ul
                          %li.flex-two
                            .category-yen
                              = item.price
                          %li.like-counts
                            - if item.likes_count.blank?
                              = 0
                            -else
                              = item.likes_count
                        %p
                          (税込)



= render partial: "shared/index_footer"