.header
  .headerbox
    .headerboxmain
      =link_to "#" do
        %img.logo{src: "/material/logo/logo.png"}
      = form_with url: "#", class: "searchbox" do |f|
        = f.text_field :content, class: 'searchboxform', placeholder: ' キーワードから探す'
      =link_to "#" do
        %img.searchboxbtn{src: "/material/icon/icon-search 1.png"}
    .headerboxsub
      %ul.listsleft
      %li
      = link_to "#",class: "category" do
        カテゴリー
      %li
      = link_to "#",class: "brand" do
        ブランド
      %ul.listsright
      %li
      = link_to "#",class: "login" do
        ログイン
      %li
      = link_to "#",class: "signin" do
        新規会員登録
.index
  .imagecontent
  .inner
  .innertitle
  だれでもかんたん、人生を変えるフリマアプリ
  .innertext
  今すぐ無料ダウンロード！
  .innericon
  %a.linkIcon-abtn(href="#")
  %img(width="180px" height="58px" src="Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="")/
  %a.linkIcon-gbtn(href="#")
  %img(width="200px" height="80px" src="google-play-badge.png" alt="")/
  .footer
  .contents
  .content
  .contenthead
  FURIMAについて
  %ul
  %li.contentmain
  %a.contentrink(href="#")
  会社概要（運営会社）
  %li.contentmain
  %a.contentrink(href="#")
  プライバシーポリシー
  %li.contentmain
  %a.contentrink(href="#")
  FURIMA利用規約
  %li.contentmain
  %a.contentrink(href="#")
  ポイントに関する制約
  .content
  .contenthead
  FURIMAを見る
  %ul
  %li.contentmain
  %a.contentrink(href="#")
  カテゴリー一覧
  %li.contentmain
  %a.contentrink(href="#")
  ブランド一覧
  .content
  .contenthead
  ヘルプ＆ガイドライン
  %ul
  %li.contentmain
  %a.contentrink(href="#")
  FURIMAガイド
  %li.contentmain
  %a.contentrink(href="#")
  FURIMAロゴ利用ガイドライン
  %li.contentmain
  %a.contentrink(href="#")
  お知らせ
  .footerlogo
  %a(href="#")
  %img(width="160px" height="46px" src="/material/logo/logo-white.png" alt="")/
  %p.logounder
  ©︎　FURIMA
  %a.footer-sell-btn(href="#")
  .purchasebtn
  .purchasebtntext
  出品する
  %img.purchasebtnicon(src="/material/icon/icon_camera.png" alt="")/