.product
  .header
    .headerbox
      .headerboxmain
        =link_to "#" do
          %img.logo{src: "/material/logo/logo.png"}
        = form_with url: "#", class: "searchbox" do |f|
          = f.text_field :content, class: 'searchboxform', placeholder: ' キーワードから探す'
        =link_to "#" do
          %img.searchboxbtn{src: "/material/icon/icon-search 1.png"}
      .headerboxsub
        %ul.listsleft
        %li
        = link_to "#",class: "category" do
          カテゴリー
        %li
        = link_to "#",class: "brand" do
          ブランド
        %ul.listsright
        %li
        = link_to "#",class: "login" do
          ログイン
        %li
        = link_to "#",class: "signin" do
          新規会員登録
  .product-contents
    .product-contents__inner
      .product-contents__inner__mainbox
        .product-contents__inner__mainbox__name
          商品名
        .product-contents__inner__mainbox__main-image
          image
        .product-contents__inner__mainbox__other-images
          .product-contents__inner__mainbox__other-images__three-images
            .product-contents__inner__mainbox__other-images__three-images__first
            .product-contents__inner__mainbox__other-images__three-images__second
            .product-contents__inner__mainbox__other-images__three-images__thrid
        .product-contents__inner__mainbox__price
          ¥10,000,000
        .product-contents__inner__mainbox__additional-price
          (税込) 送料込み
        .product-contents__inner__mainbox__description
          商品説明
        .product-contents__inner__mainbox__table
          .product-contents__inner__mainbox__table__box
            .leftbox
              出品者
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              カテゴリー
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              ブランド
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              商品のサイズ
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              商品の状態
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              配送料の負担
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              発送元の地域
            .rightbox
          .product-contents__inner__mainbox__table__box
            .leftbox
              発送日の目安
            .rightbox
        .product-contents__inner__mainbox__links
          .product-contents__inner__mainbox__links__favorite
            .product-contents__inner__mainbox__links__favorite__icon
            .product-contents__inner__mainbox__links__favorite__letter
              お気に入り 0
          .product-contents__inner__mainbox__links__report
            .product-contents__inner__mainbox__links__report__icon
            .product-contents__inner__mainbox__links__report__letter
              不適切な商品の通報
      .product-contents__inner__commentbox
        .product-contents__inner__commentbox__content
        .product-contents__inner__commentbox__warning
        .product-contents__inner__commentbox__comment
          .product-contents__inner__commentbox__comment__icon
          .product-contents__inner__commentbox__comment__btn
      .product-contents__inner__lowerbox1
      .product-contents__inner__lowerbox2
  .imagecontent
    .inner
      .innertitle
      だれでもかんたん、人生を変えるフリマアプリ
      .innertext
      今すぐ無料ダウンロード！
      .innericon
      %a.linkIcon-abtn(href="#")
      %img(width="180px" height="58px" src="Apple.svg" alt="")/
      %a.linkIcon-gbtn(href="#")
      %img(width="200px" height="80px" src="Google.png" alt="")/
  .footer
    .contents
      .content
        .contenthead
        FURIMAについて
        %ul
        %li.contentmain
        %a.contentrink(href="#")
        会社概要（運営会社）
        %li.contentmain
        %a.contentrink(href="#")
        プライバシーポリシー
        %li.contentmain
        %a.contentrink(href="#")
        FURIMA利用規約
        %li.contentmain
        %a.contentrink(href="#")
        ポイントに関する制約
        .content
        .contenthead
        FURIMAを見る
        %ul
        %li.contentmain
        %a.contentrink(href="#")
        カテゴリー一覧
        %li.contentmain
        %a.contentrink(href="#")
        ブランド一覧
      .content
        .contenthead
        ヘルプ＆ガイドライン
        %ul
        %li.contentmain
        %a.contentrink(href="#")
        FURIMAガイド
        %li.contentmain
        %a.contentrink(href="#")
        FURIMAロゴ利用ガイドライン
        %li.contentmain
        %a.contentrink(href="#")
        お知らせ
    .footerlogo
      %a(href="#")
      %img(width="160px" height="46px" src="/material/logo/logo-white.png" alt="")/
      %p.logounder
      ©︎FURIMA
      %a.footer-sell-btn(href="#")
        .purchasebtn
          .purchasebtntext
            出品する
            %img.purchasebtnicon(src="/material/icon/icon_camera.png" alt="")/